.s1
{
color: yellow;
font-weight: 800;
}
.top img
{
height: 550px;
}
.logo
{
height: 50px;
width: 80px;
}
.area img
{
height: 150px;
}
.navbar
{
background-color: rgb(12, 51, 77);
}

/* #navbarSupportedContent a
{
color: white;
} */
.s2
{
font-size: 30px;
}
.s2 i
{
color: white; 
}
.s3
{
font-size: 15px;
}
.s3 i
{
color: white;
}
.rain a
{
color: black;
}